* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fafafa;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

footer {
  margin-top: 36px;
  background-color: #d5d4d8;
  height: 64px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.card {
  background-color: #f5f5f5;
  color: black;
  border-radius: 8px;

  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 317px;
  margin: 48px;
  box-shadow: 1px;
}

.profile-picture {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 317px;
  height: 317px;
}

.name-section {
  text-align: center;
  align-items: center;
}

.name-section h1 {
  font-weight: 700px;
  font-style: bold;
  font-size: 25px;
}

.name-section h2 {
  font-weight: 400;
  font-size: 12.8px;
  color: #801fc6;
}

.name-section p {
  font-weight: 400px;
  font-size: 10.24px;
}

.button-section {
  margin-top: 24px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-left: 36px;
  padding-right: 36px;
}

.email-btn {
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 115px;
  height: 34px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  gap: 8px;
  font-size: 14px;
}

.linkedin-btn {
  background-color: #297fe5;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 115px;
  height: 34px;
  border-radius: 6px;
  gap: 8px;
  font-size: 14px;
}

.profile-details {
  margin-top: 36px;
  display: block;
}

.about h3,
.interest h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
  padding-left: 36px;
  padding-right: 36px;
}

.about p,
.interest p {
  font-weight: 400;
  font-size: 10.24px;
  margin-top: 0;
  padding-left: 36px;
  padding-right: 36px;
  color: #4a4e74;
}
